<!DOCTYPE html>
</html>
  <head>
    <title>Simple crud by eramos23</title>
    <link href="#" rel="stylesheet">
    <script type="text/javascript" src="#"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="page-header">
        <h2><%=page_title%></h2>
      </div>
      <div class="page-container">
